/* body {
    margin: 0%;
    padding: 0%;
} */

.services {
    background-color: orangered;
    display: flex;


}

.contextLeft {
    padding-top: 2%;
    width: 50%;
    height: auto;
    text-align: center;
}

.contextRight {
    padding: 2%;
    width: 50%;
    text-align: center;
}
.contextRight p{
    font-size: large;
    color: white;
    text-align: center;
}
.contextRight h1{
    color: white;
}
img {
    width: 50%;
}

@media only screen and (max-width: 800px) {
    .services {
        /* width: 100%; */
        display: block;
        
    }
    .contextRight {
        padding: 2%;
        width: 100%;
        text-align: center;
    }
    .contextLeft {
        padding-top: 10%;
        width: 100%;
        text-align: center;
    }
}

.services-heading{
    font-family: "Roboto Condensed", sans-serif;
    font-weight: 400;
    text-transform: none;
    /* text-justify: ; */
    margin-right: 30px;
    color: orangered;
    line-height: 1.25;
    font-size: large;
    margin-top: 10px;
    margin-left: 10px;
    
}
.services-content{
    font-family: "Roboto Condensed", sans-serif;
    margin-top: 10px;
    margin-left: 40px;
    
}