.Hospitals-Section {
  text-align: center;
  padding: 20px 0;
}

.Hospitals-Details {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  background-color: #ededeb;
}

.Hospitals-Details img {
  max-width: 100%;
  object-fit: cover;
  max-height: 80px;
  transition: delay all 3s infinite;
}

.Hospitals-Section {
  position: relative;
  text-align: center;
  background-color: orangered;
  color: #fff;
}

.Hospitals-Section h1 {
  /* position: absolute; */
  position: absolute;
  /* transform: translate(-50%, -50%); */
  font-size: 3rem;
  /* color:blue; */
}

.Hospitals-Section h1:nth-child(1) {
  color: transparent;
  -webkit-text-stroke: 2px rgb(253, 253, 253);

}

.Hospitals-Section h1:nth-child(2) {
  color: white;
  animation: animate 4s ease-in-out infinite;
}


@keyframes animate {

  0%,
  100% {
    clip-path: polygon(0% 45%,
        16% 44%,
        33% 50%,
        54% 60%,
        70% 61%,
        84% 59%,
        100% 52%,
        100% 100%,
        0% 100%);
  }

  50% {
    clip-path: polygon(0% 60%,
        15% 65%,
        34% 66%,
        51% 62%,
        67% 50%,
        84% 45%,
        100% 46%,
        100% 100%,
        0% 100%);
  }
}
.Equipments-Carousel{
  height: 60%;
  width:35%;
  object-fit:cover;
  /* object-fit: fill; */
}

.slick-prev {
  left: 3% !important;
  z-index: 1;
  border-radius: 50%;
  
}
.slick-next {
  right: 3% !important;
  z-index: 1;
  border-radius: 50%;
}
.slick-dots{
  z-index: 6;
}
