.icons{    
    /* background-color:rgba(255, 107, 73, 0.816);
     */
     background-color: rgb(220, 102, 59);
    color: white;    
    /* margin-top:3%; */
    justify-content: space-around;
    padding: 5%;
    flex-wrap: wrap;
    display: flex;
}

.icon-font{
    font-size:x-large;
    font-weight: bolder;
    font-size: 35px;
    text-align: center;
    transition: delay all 16s infinite;
    
}
.icon-text{
    font-size:x-large;
    text-transform: capitalize;
}
/* .icon-font:nth-child(1):hover{
   
    border-color: 2px aliceblue ;
} */

/* @media screen and (max-width: 1030px) {
    .icons-details {
        width: 18%;
    }
}

@media screen and (max-width: 1200px) {
    .icons-details {
        width: 19%;
        display: inline-block;
        
    }
} */