    .AlphaTechnologiesbusinessHours span {
        padding: 5px;
    }
    center h2 {
        margin-top: 20px;
    }
    .AlphaTechnologies {
        font-weight: bold;
    }

    .AlphaTechnologiesleft {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        padding: 40px;
        justify-content: space-between;
        margin-bottom: 30px;
    }

    .Supply {
        height: 1.5px;
        display: flex;
        width: 200px;
        background-color: orangered;
        align-items: center;
        margin-top: -13px;
        text-align: center;
        justify-content: center;
    }

    .right {
        float: left;
        margin-left: 50px;
        background-color: antiquewhite;
    }

    .left {
        float: right;
        padding: 40px;
        margin-right: 100px;
        /* border: 2px solid orangered; */
    }

    .MedicalSupply {
        margin-bottom: 10px;
        margin-top: 4px;
        padding: 4%;
        width: 100%;
        /* border-color: orangered; */
    }

    .MedicalEquipments {
        border-color: orangered;
        background-color: orangered;
        color: white;
        width: 100px;
        font-weight: bold;
        font-size: medium;
        height: 50px;
    }

    .MedicalEquipments:hover {
        background-color: rgb(255, 176, 148);
        border-color: orangered;
        color: orangered;
        -ms-transform: scale(1.5);
        /* IE 9 */
        -webkit-transform: scale(1.5);
        /* Safari 3-8 */
        transform: scale(1.2);
    }

   