.FooterCover {
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}
.List a{
    text-decoration: none;
    color:white;
}
.about {
    width: 25%;
    padding: 3%;
}
.about p{
    margin-top: 5%;
}

.copywrite {
    background-color: gray;
    color: white;
    padding: 10px;
    text-align: center;
    margin: 0%;
}


.ListProductsBy {
    margin-top:3%;
}


.SocialIcon{
    margin: 5%;
}
.SocialIcon svg{
    margin: 3%;
    padding: 1%;
    margin-top: 5%;
    width: 25px;
    height: auto;
    background-color: white;
    color:black;
    border-radius: 25%;
}
@media only screen and (max-width: 1010px) {
   .about {
      display: none;
      width: 100%;
    }
  }

